{% extends 'base.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block body %}
    <div class="contentPage-headerShow-left">
    <a href="{{ path('app_categorie_index') }}"><i class="icon-enter5"></i></a>
    <h1>Create new Categorie</h1>
    </div>
    
    {{ include('categorie/_form.html.twig') }}
{% endblock %}
