{% extends 'base.html.twig' %}

{% block title %}New Customer{% endblock %}

{% block body %}
    <div class="contentPage-headerShow-left">
    <a href="{{ path('app_customer_index') }}/{{ role }}"><i class="icon-enter5"></i></a>
    <h1>Create new {{ role }}</h1>
    </div>
    

    {{ include('customer/_form.html.twig') }}

    
{% endblock %}
